<div class="container">
    <div *ngIf="!data">Loading...</div>

    <div *ngIf="data">
        <p>Check our Products</p>
        <div class="row">
            <div *ngFor="let product of data">
                <div class="col-lg-3">
                    <div class="products">
                        <img src="{{product.image}}" alt="{{product.title}}" (click)="productView(product)">
                        <h3>{{product.title.slice(0,20)}}{{"..."}}</h3>
                        <p class="price">{{product.price | currency}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>