.products {
 border: 1px solid #CCC;
 padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}


.product {
  width: 140px;
  height: 180px;
  border-radius: 10px;
  padding: 5px;
  
}

img{
    width:140px;
    height: 120px;
}
.products h3{
  font-size: 16px;
}
.products .price{
  font-size: 16px;
  color: red;
}